//Homebody---------
.homebody {
  display: flex;
}

//Sidebar---------
.sidebar_container {
  background-color: #1976d2;
  flex: 30%;
  height: calc(100vh - 64px);
  max-width: 350px;
  color: white;

  h3 {
    font-size: 16px;
    margin-left: 6px;
  }
}

.sidebar_close {
  display: none;
}

.sidebar_channel {
  display: flex;
  padding-left: 16px;
  border-top: 1px solid white;
  padding: 16px;
  cursor: pointer;
  &:hover {
    background-color: skyblue;
  }

  .message_icon {
    margin-left: 4px;
  }
}

.addchannels_container {
  display: flex;
  padding: 14px;
  cursor: pointer;
  &:hover {
    background-color: skyblue;
  }

  .add_icon {
    width: 24px;
    height: 24px;
    margin-left: 6px;
  }
}
.sm_sidebar_container {
  display: none;
}

//channel

.channel_container {
  display: flex;
  padding: 8px 0;
  cursor: pointer;

  &:hover {
    background: skyblue;
  }

  span {
    padding: 15px;
  }

  .channel_icon {
    position: relative;
    top: 8px;
  }

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

//appbody--------

.appbody_container {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  flex: 70%;
  flex-grow: 1;
  height: calc(100vh - 64px);

  width: 100%;
}

.header_container {
  position: relative;
  position: fixed;
  width: 100%;
  top: 64px;
  z-index: 9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .open_sidebar {
    display: none;
  }

  .header_icon {
    position: relative;
    top: 8px;
    font-size: 36px;
    margin-left: 12px;
    margin-right: 16px;
  }

  span {
    font-size: 16px;
    margin-left: 12px;
    margin-right: 16px;
  }

  h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
  }
}

.messages_wrapper {
  position: relative;
  top: 64px;
  overflow-y: scroll;
  height: calc(100vh - 250px);
  z-index: 5;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//MessageHome------

.message_container {
  padding: 16px;
  padding-bottom: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  .message_info {
    display: flex;
  }

  h4 {
    margin-left: 12px;
  }

  span {
    color: gray;
    font-weight: 300;
    margin-left: 4px;
    font-size: 10px;
  }

  .no_user_modal_container {
    margin-left: 20px;
    cursor: pointer;
    color: #1976d2;
    font-size: 14px;
  }

  .img {
    margin-top: 8px;
    margin-left: 50px;
    width: 300px;
    height: 300px;
  }

  .edit_textField {
    display: block;
    white-space: pre-wrap;
    width: 95%;
    overflow-wrap: anywhere;
    margin-left: 42px;
    margin-top: 6px;
    font-weight: 350;
    background-color: rgba(27, 196, 125, 0.1);

    a {
      color: rgb(93, 134, 240);
    }
  }

  .cancel_button {
    margin-left: 50px;
    margin-top: 12px;
    background-color: rgba(25, 118, 210, 0.8);
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    margin-right: 24px;
    cursor: pointer;
    color: white;
  }

  .update_button {
    margin-top: 12px;
    background-color: #4b9047;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }

  .emojiIcon_button {
    position: relative;
    top: 12px;
    left: 12px;
    background-color: white;
    border-radius: 8px;
    border: none;
    padding: 0;
  }

  .emojiIcon {
    cursor: pointer;
    width: 36px;
    height: 36px;
  }

  .message_text {
    display: block;
    position: relative;
    top: -15px;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    margin-left: 50px;
    font-weight: 350;

    a {
      color: rgb(93, 134, 240);
    }
  }

  .sub_function_wrapper {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

    div:first-child {
      flex: 1;
      text-align: center;
    }

    div:last-child {
      flex: 1;
      text-align: center;
    }

    .message_icon {
      cursor: pointer;
      &:hover {
        color: rgb(52, 165, 240);
      }
    }

    .count_message_icon {
      color: rgb(52, 165, 240);
    }

    span {
      position: relative;
      top: -8px;
      color: rgb(0, 0, 0);
      font-size: 16px;
    }

    .like_icon {
      cursor: pointer;
      &:hover {
        color: red;
      }
    }

    .selected_icon {
      color: red;
    }
  }
}

.emoji {
  position: relative;
  z-index: 10;
  width: 280px;
  height: 320px;
  right: 0px;
}

.hidden {
  display: none;
}

//レスポンシブ-----------------------
@media screen and (max-width: 680px) {
  //Sidebar---------
  .sidebar_container {
    display: none;
  }

  .sidebar_close_button {
    display: block;
    display: flex;
    padding-left: 16px;
    border-top: 1px solid white;
    padding: 16px;
    cursor: pointer;
    &:hover {
      background-color: skyblue;
    }

    .sidebar_close_icon {
      margin-left: 4px;
    }
  }

  .sm_sidebar_container {
    display: none;
  }

  .sm_sidebar_container.sidebar_close {
    display: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    background-color: #1976d2;
    flex: 30%;
    height: calc(100vh - 64px);
    max-width: 300px;
    color: white;
    z-index: 5;

    h3 {
      font-size: 16px;
      margin-left: 6px;
    }
  }

  // appbody-----------
  .appbody_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }

  .header_container {
    position: relative;
    z-index: 5;
    height: 70px;

    .open_sidebar {
      display: inline-block;
      position: relative;
      top: 6px;
      margin-right: 24px;
      font-size: 48px;
      color: #1976d2;
      font-size: 32px;
      cursor: pointer;

      &:hover {
        background: rgba(25, 118, 210, 0.2);
        border-radius: 50%;
      }
    }
  }
  //messagehome-------
  .messages_wrapper {
    position: relative;
    top: 50px;
    overflow-y: scroll;
    height: calc(100vh - 230px);
    z-index: 5;
  }
}
