.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: rgb(255, 255, 253);
  border: 2px solid #000;
  box-shadow: 24px;
  border-radius: 8px;
  border: none;
  padding: 24px 32px;
}

.title {
  font-family: Georgia, serif;
  letter-spacing: 4px;
}

.closeIcon {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 4px;
  border-color: rgb(182, 220, 249);
}

.typography {
  font-size: 16px;
  font-family: Georgia, serif;
  letter-spacing: 2px;
}

.typograpphy_name {
  width: 30%;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: Georgia, serif;
  letter-spacing: 2px;
}

.profile {
  display: flex;
  justify-content: center;
}

.img_container {
  position: relative;
  &:hover .image {
    opacity: 0.4;
  }
  &:hover .overlay {
    opacity: 1;
  }
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.input {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 8px;
}

.nameForm {
  border: none;
}

.search_wrapper {
  display: flex;
}

.button_container {
  display: flex;

  a:first-child {
    width: 125px;
    text-align: center;
    color: white;
    border-radius: 8px;
    padding: 4px 6px;
    margin: auto 0;
    cursor: pointer;
    &:hover {
      background: rgba(85, 196, 0, 0.6);
    }
  }

  a {
    width: 75px;
    text-align: center;
    color: white;
    border-radius: 8px;
    padding: 4px 4px;
    margin: auto 0;
    &:hover {
      background: rgba(52, 165, 240, 0.6);
    }
  }
}

.nameText {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 8px;
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-color: rgb(250, 250, 250);
  }
}
.saveButton {
  position: absolute;
  right: 96px;
  padding: 8px 20px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 1000px;
  background-color: black;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .header_container {
    position: relative;
    z-index: 100;
  }
}
