.user_name_container {
  padding: 8px 16px;
  width: 80%;
  margin: 24px auto;
  text-align: center;

  form {
    margin: 24px 0;
  }

  .user_name_textField {
    display: relative;
    right: 24px;
  }
}

.user_age_container {
  padding: 8px 16px;
  width: 80%;
  margin: 24px auto;
  text-align: center;

  .user_age_form_container {
    margin: 24px 0;
  }
}

.user_experience_container {
  padding: 8px 16px;
  width: 80%;
  margin: 24px auto;
  text-align: center;

  .user_experience_form_container {
    margin: 24px 0;
  }
}

.user_useLanguage_container {
  padding: 8px 16px;
  width: 80%;
  margin: 24px auto;
  text-align: center;

  .user_useLanguage_form_container {
    margin: 24px 0;
  }
}
.user_willLanguage_container {
  padding: 8px 16px;
  width: 80%;
  margin: 24px auto;
  text-align: center;

  .user_willLanguage_form_container {
    margin: 24px 0;
  }
}

.complete_button_container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.complete_button {
  background: rgb(52, 165, 240);
  padding: 8px 16px;
}
